.list-item{
color: bisque;
}

.card{
    width: 480px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
}

.links-aside title{

position: absolute;
left:auto;
}


.Links-list{
    position: absolute;
    left:auto;
}