.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.App-header{
  margin-bottom: 5px;
}




main{
  background-color: white;
}

@media only screen
    and (min-device-width : 320px)
    and (max-device-width : 480px){ 
      main{display: inline;
      background-color: #282c34;}
  }

 /* div styles */

 .Business.Section.div{
padding-top: 20px;
 }
 .Tech.Section.div{
  padding-top: 20px;
 }
 .Poli.Section.div{
  padding-top: 20px;
 }
  /* Footer Styles */ 
footer{
  display:flex;
  flex-direction: column;
  min-height: 300px;
  padding: 45px 32px 136px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
box-sizing: border-box;
}
  .footer-list-el, .app-footer-li-1,
  .app-footer-li-2,
  .app-footer-li-3
  .app-footer-li-4
  .app-footer-li-5
  .app-footer-li-6{
    display:flex;
  flex-direction: column;
  min-height: 300px;
  padding: 45px 32px 136px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
box-sizing: border-box;
  }
  

  .hero-image{
    background-image: linear-gradient(
      rgba(0,0,0,0.5),
    rgba(0,0,0,0.5) 

    ), url('/src/cityView.jpg') no-repeat 0 0;

    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}

.hero-text{
    text-align: center;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-title{

}
  

  